
         h1 {
            margin-bottom: 30px;
            text-align: center;
         }
         
      .menu{
      }
      .right-text{
         background: pink;
         width: 70px;
         float: right;
         margin-top: 0px;
         border: 1px solid green;
      }
      .left{
         background-color:#f1f1f1;
          float: left;
         width: 31.2%;
         margin-left: 20px;
         overflow: hidden;
         border:2px solid black;
      }
      .center{
         background-color:#f1f1f1;
          float: left;
          width: 31.2%;
          overflow: hidden;
          margin-left: 20px;
           border:2px solid black;
      }
      .right{
          background-color:#f1f1f1;
             float: left;
             width: 31.2%;
             margin-left: 20px;
             margin-right: 10px
            overflow: hidden;
             border:2px solid black;
      }

#co{
   background-color: #868789;
  border:1px solid ;
  border-radius:0;
}
.mybg{
  background-color: #c7a7cc;
  margin-right: 10px;
}